@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  

  --main: #212730;
  --secondary: #252b34;
  --secondary-200: #2f3744;
  --teal: #22b3dc;
  --gray: #e5e5e5;

  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--teal);
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--main);
  }

  ::-webkit-scrollbar-corner {
    background-color: var(--main);
    border-radius: 7px;
  }
}

@layer base {
  html {
    @apply bg-main;
  }

  label {
    cursor: pointer;
  }

  input {
    @apply outline-none 
    px-2 
    bg-white 
    text-slate-700
    font-semibold
    placeholder:italic
    placeholder:text-secondary-200;
  }

  .my-side-nav a.active {
    background: linear-gradient(125deg, var(--teal), var(--secondary));
    box-shadow: 0 0 5px var(--teal);
    border-color: var(--teal);
  }

  :is(.show-tooltip, .logout-btn, .dashboard-user):is(:hover, :focus) {
    .absolute {
      opacity: 1 !important;
      pointer-events: initial;
    }
  }

  .password-input-wrapper:has(input:focus) {
    &,
    input {
      box-shadow: 0 0 0 2px var(--teal) inset;
    }
  }
}
